header{
    border:1px solid #ccc;
    background-color: dimgray;
    height:50px;
    display:block;
    margin:0 auto;

}
img{
    display:block;
    width:40%;
    margin:0 auto;
    padding: 30px;
}
footer{
    text-align: bottom;
}
button{
    display:inline;
}
a{
    text-decoration: none;
    color: black;
}
p{
    display:inline;
}
#logo{
    display: inline;
    width: 23px;
    padding: 0px;
    position: relative;
    top: 5px;
}
